@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Navbar css */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.company-name
{
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #01730d !important;
    margin: 10px;
}

#logoPic
{
    height: 24px;
}

li
{
   padding: 0 1rem;
}

.nav-item {
    font-size: 16px;
    font-weight: 500;
}

li a:hover
{
   font-weight: bold;
   background-color: #01730d;
   color: #fff!important;
}

/* li a.active
{
   font-weight: bold;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: #01730d;
   color: #fff!important;
   border-radius: 5px;
} */

a
{
    text-decoration: none;
    color: black;
}


li a .fas
{
    display: inline;
    /* opacity: 0; */
    visibility: hidden;
}

li a:hover .fas
{
    visibility: visible;
    /* opacity: 1; */
}


.navbar
{
    background-color: #fff !important;
    padding: 16px 0px;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

/* Footer css */
.footer
{
    background-color: whitesmoke;
    padding: 1rem 0;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0;
}

.socialMedia a
{
    font-size: 1.5rem;
    color: #006903;
}

.socialMedia a:hover
{
    color: #074709;
    font-weight: bold;
}

.footer-link
{
    display: flex;
    justify-content: center;
}

.footer-link a:not(:last-child)
{
    margin-right: 2rem;
}

.footer-link a:hover
{
    font-weight: bold;
    color: #000;
}

/*Scroll up button css*/
#btn-up {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 40px;
    z-index: 99;
}
