html, body
{
    height: 100%;
}

.container-upload
{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main
{
    flex: 1;
}

.servicetable
{
    padding: 50px;
}

@media only screen and (max-width: 720px) {

    #svcmnt
    {
        display: none;
    }
}
